{% extends "base.html" %}

{% block title %}Orders List{% endblock %}

{% block content %}
    <h1 class="text-center">Lista de órdenes</h1>
    <ul>
        {% for order in orders %}
            <li>
                <a href="{% url 'order_detail' order.id %}">
                    # {{ order.id }}
                </a>
                - Customer: {{ order.customer.name }}
            </li>
            

            {% empty %}
                <p>Empty orders</p>

        {% endfor %}
        
{% endblock %}